

body {
  background-image: url('assets/pokemonWallpaper.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  /* width: 100%;
  height: 100vh; */

}


#battleBackgroundScreen {
  background-image: url('assets/pokemonBattleStage.png');
  margin-right: 20%;
  margin-left: 20%;
  /* width: 50%; */
  /* height; */

  background-position: center center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;


  /* margin: 70%; */
}

#top-menu {
  align-items: center;
}


#userPokemonButtons {
  /* margin-right: 50px;
  margin-left: 50px; */
  margin: auto;
}

#cpuPokemonButtons {
  /* margin-right: 50px;
  margin-left: 50px; */
  margin: auto;
}

#gameOptions {
  /* margin-right: 700px;
  margin-left: 800px; */
  margin-bottom: 10%;
}

@media only screen and (max-width: 600px) {
  #userSpritePic {
    width: 50px
  }
}