

body {
  background-image: url('./assets/pokemonWallpaper.png');
  background-position: center center;
  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}


#battleBackgroundScreen {
  background-image: url('./assets/pokemonBattleStage.png');
  margin-right: 20%;
  margin-left: 20%;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; 
}

#top-menu {
  align-items: center;
}


#userPokemonButtons {
  margin: auto;
}

#cpuPokemonButtons {
  margin: auto;
}

#gameOptions {
  margin-bottom: 10%;
}